.common{
	margin: .62rem .4rem 0 .4rem;
}
.common .top{
	display: flex;
	font-size: .46rem;
	color: #333;
	font-weight: bold;
}
.common .top p{
	flex: 1;
}
.common .top div{
	flex: 1;
	text-align: right;
}
.common .top div i{
	display: inline-block;
	width: .36rem;
	height: .39rem;
	background: url(../../src/assets/images/home/sum.png) no-repeat left top;
	background-size: 100%;
	margin-right: .26rem;
}
.common .top div span{
	display: inline-block;
	width: .44rem;
	height: .4rem;
	background: url(../../src/assets/images/home/user.png) no-repeat left top;
	background-size: 100%;
}
.common .sum{
	width: 6.7rem;
	height: 2.58rem;
	margin-top: .4rem;
	padding: .4rem .3rem;
	box-sizing: border-box;
	background: url(../../src/assets/images/home/bg_01.png) no-repeat left top;
	background-size: 100%;
	position: relative;
}
.common .sum .year{
	font-size: .32rem;
	color: #fff;
	width: 2rem;
	height: .42rem;
	line-height: .42rem;
}
.common .sum .year input{
	width: 1.4rem;
	color: #fff;
	font-size: .32rem;
	text-align: center;
	letter-spacing: .03rem;
}
.common .sum .year input[readonly="readonly"] {
  pointer-events: none;
}
.common .sum .year i{
	display: inline-block;
	width: .19rem;
	height: .14rem;
	background: url(../../src/assets/images/home/down.png) no-repeat left top;
	background-size: 100%;
	margin-bottom: .045rem;
}
.common .sum .all{
	display: flex;
	font-size: .24rem;
	margin-top: .9rem;
}
.common .sum .all .money{
	color: #fff;
	flex: 2;
}
.common .sum .all .times{
	color: #f1f1f1;
	flex: 1
}
.common .sum .all p span{
	font-size: .26rem;
	font-weight: bold;
}
.common .sum .all .times span{
	color: #fff;
}
/* 年份选择弹框 */
.common .mint-popup-bottom{
	width: 100%;
}
.common .mint-popup-bottom .frame_upper{
	display: flex;
	font-size: .32rem;
	padding: .3rem .4rem;
	border-bottom: 1px solid #eee;
	font-weight: bold; 
}
.common .mint-popup-bottom .frame_upper span{
	flex: 1;
	color: #333;
}
.common .mint-popup-bottom .frame_upper p{
	flex: 1;
	text-align: right;
	color: #ea5656;
}