.content{
	width: 100%;
}
.content>ul{
	margin: 0 .4rem;
  margin-bottom: .4rem;
}
.content>ul>li{
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: .1rem;
}
.content>ul>li a{
  display: block;
	padding-top: .4rem;
  color: #333;
}
.content>ul>li a .headInfo{
	display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .36rem;
}
.content>ul>li a .headInfo .left>span{
	display: inline-block;
	width: .68rem;
	height: .68rem;
	background: #eee;
	border-radius: .6rem;
	font-size: .38rem;
	text-align: center;
	line-height: .68rem;
  vertical-align: top;
  margin-top: .1rem;
}
.content>ul>li a .headInfo .left div{
  display: inline-block;
  margin-left: .1rem;
}
.content>ul>li a .headInfo .left div p{
  margin-bottom: -.08rem;
}
.content>ul>li a .headInfo .left div span{
  font-size: .26rem;
  color: #999;
}
.content>ul>li a .headInfo .right{
  color: #ea5455;
}
.content>ul>li a .text{
	font-size: .28rem;
  display: flex;
  margin-top: .4rem;
}
.content>ul>li a .text .left{
	flex: 1;
}
.content>ul>li a .text .left img{
	width: 3rem;
	height: 3rem;
  border-radius: .1rem;
	object-fit:cover;
	pointer-events: none;/* 禁止长按图片出现手机自带菜单 */
}
.content>ul>li a .text .right{
	flex: 2;
  margin-left: .2rem;
}
.content>ul>li a .text .right ul li{
	display: flex;
	padding-top: .2rem;
}
.content>ul>li a .text .right ul li .sign{
	flex: 1;
  margin-right: .2rem;
}
.content>ul>li a .text .right ul li .detail{
	flex: 7;
	display: flex;
  height: .56rem;
  line-height: .56rem;
}
.content>ul>li a .text .right ul li .sign img{
	width: .48rem;
	height: .48rem;
	pointer-events: none;/* 禁止长按图片出现手机自带菜单 */
}
.content>ul>li a .text .right ul li .detail span{
	color: #333;
	flex: 1;
}
.content>ul>li a .text .right ul li .detail p{
	color: #ea5656;
	flex: 1;
	text-align: right;
}
