.detail .setting{
	width: 100%;
	height: 3.4rem;
	background-image: linear-gradient(45deg, #0396ff 0%, #abdcff 100%), linear-gradient(#f8f8f8, #f8f8f8);
}
.detail .setting .setUp{
	position: absolute;
	top: .6rem;
	right: .4rem;
}
.detail .setting .setUp i{
	display: inline-block;
	width: .4rem;
	height: .46rem;
	background: url(../../src/assets/images/detail/set.png) no-repeat left top;
	background-size: 100%;
}
.detail .setting .money{
	font-size: .32rem;
	color: #fff;
  margin: 0 .2rem;
  margin-top: .2rem;
}
.detail .setting .money ul{
	display: flex;
}
.detail .setting .money ul li{
	flex: 1;
  text-align: center;
}
.detail .setting .money ul li p{
  margin-top: .1rem;
}
