.feedback .type{
	width: 6.7rem;
	height: 2rem;
	box-shadow: 0px 4px 22px 2px rgba(58, 58, 58, 0.15);
	border-radius: .1rem;
	margin: 0 auto;
	padding-top: .4rem;
	padding-left: .22rem;
	box-sizing: border-box;
}
.feedback .type p{
	font-size: .36rem;
	color: #333;
}
.feedback .type div{
	font-size: .32rem;
	color: #333;
	margin-top: .3rem;
}
.feedback .type div input{
	margin-right: .1rem;
}
.feedback .type div label{
	margin-right: 1.2rem;
}
.feedback .suggest{
	width: 6.7rem;
	height: 5.09rem;
	box-shadow: 0px 4px 22px 2px rgba(58, 58, 58, 0.15);
	border-radius: .1rem;
	margin: 0 auto;
	margin-top: .22rem;
	margin-bottom: .22rem;
	padding: .4rem .22rem;
	box-sizing: border-box;
}
.feedback .suggest p{
	font-size: .36rem;
	color: #333;
}
.feedback .suggest div{
	font-size: .3rem;
	margin-top: .3rem;
}
.feedback .suggest div textarea{
	width: 100%;
	font-size: .3rem;
	height: 3.6rem;
}
.feedback .contact{
	width: 6.7rem;
	height: 2rem;
	box-shadow: 0px 4px 22px 2px rgba(58, 58, 58, 0.15);
	border-radius: .1rem;
	margin: 0 auto;
	padding: .4rem .22rem;
	box-sizing: border-box;
	margin-bottom: .5rem;
}
.feedback .contact p{
	font-size: .36rem;
	color: #333;
}
.feedback .contact div{
	margin-top: .3rem;
	font-size: .3rem;
}
.feedback .contact div input{
	font-size: .3rem;
	width: 100%;
}

/* 修改input的默认样式 */
input[type='radio']{
    display:none;
}
input[type='radio'] + label:before{
	content: "";
    display: inline-block;
    width: 0.28rem;
    height: 0.28rem;
    margin-right: .1rem;
	background: url(../../src/assets/images/my/unchecked.png) no-repeat left top;
	background-size: 100%;
}

input[type='radio']:checked+label:before{
   	background: url(../../src/assets/images/my/checked.png) no-repeat left top;
   	background-size: 100%;
}
label{
	margin-left: .1rem;
}
