.main .chartShow{
	width: 100%;
	height: 4rem;
	background-color: #fff;
	margin: 0 .4rem;
  margin-top: .4rem;
}
.main .chartShow .chart{
	width: 100%;
	height: 100%;
}
.main .detailList{
	margin: 0 .4rem;
	border-bottom: 1px solid #eee;
  padding-top: .4rem;
}
.main .detailList:last-child{
	border-bottom: none;
}
.main .height_20{
  width: 100%;
  height: .2rem;
  background: #f8f8f8;
}
.main .detailList .content>li{
	display: flex;
	margin-bottom: .3rem;
}
.main .detailList .content>li .left{
	flex: 1;
	line-height: .2rem;
}
.main .detailList .content>li .left img{
	width: .64rem;
	height: .64rem;
	pointer-events: none;/* 禁止长按图片出现手机自带菜单 */
}
.main .detailList .content>li .right{
	flex: 6;
	border-bottom: 1px solid #eee;
}
.main .detailList .content>li .right .right_top{
	display: flex;
	font-size: .32rem;
	margin-bottom: .2rem;
}
.main .detailList .content>li .right .right_top p{
	flex: 1;
	color: #333;
}
.main .detailList .content>li .right .right_top span{
	flex: 1;
	text-align: right;
	color: #ea5656;
	font-weight: bold;
}
.main .detailList .content>li .right .right_bottom .comment{
	font-size: .22rem;
	color: #999;
	margin-bottom: .1rem;
}
.main .detailList .content>li .right .right_bottom .comment i{
	display: inline-block;
	width: .22rem;
	height: .22rem;
	background: url(../../src/assets/images/detail/des.png) no-repeat left top;
	background-size: 100%;
	margin-right: .16rem;
}
.main .detailList .content>li .right .right_bottom .imgs ul{
	display: flex;
	margin-bottom: .3rem;
}
.main .detailList .content>li .right .right_bottom .imgs ul li{
	width: 1.2rem;
	height: 1.2rem;
	margin-right: .12rem;
}
.main .detailList .content>li .right .right_bottom .imgs ul li:last-child{
	margin-right: 0;
}
.main .detailList .content>li .right .right_bottom .imgs ul li img{
	width: 1.2rem;
	height: 1.2rem;
	pointer-events: none;/* 禁止长按图片出现手机自带菜单 */
}
.main .detailList .content>li .right .time{
	font-size: .26rem;
	color: #999;
	margin-bottom: .1rem;
}
