.my .top_bg{
	width: 7.5rem;
	height: 3.37rem;
	background-image: linear-gradient(45deg, #ea5455 0%, #f7976c 100%), linear-gradient(#f8f8f8, #f8f8f8);
}
.my .info{
	width: 6.7rem;
	height: 3.1rem;
	box-shadow: 0px 5px 15px 1px rgba(2, 0, 0, 0.15);
	border-radius: .1rem;
	margin: 0 auto;
	margin-top: -1.2rem;
	background: #fff;
	position: relative;
}
.my .info div{
	text-align: center;
	position: absolute;
	top: -.7rem;
	left: 50%;
	margin-left: -.745rem;
	font-size: .32rem;
	color: #333;
}
.my .info div img{
	width: 1.49rem;
	height: 1.49rem;
	pointer-events: none;/* 禁止长按图片出现手机自带菜单 */
}
.my .info ul{
	display: flex;
}
.my .info ul li{
	flex: 1;
	text-align: center;
	margin-top: 1.8rem;
	font-size: .24rem;
	color: #666;
}
.my .info ul li p{
	font-size: .36rem;
	color: #333;
	font-weight: bold;
	margin-top: .1rem;
}
.my .tipLists{
	margin-bottom: .5rem;
}
.my .tipLists ul{
	margin: 0 .4rem;
}
.my .tipLists ul li{
	border-bottom: 1px solid #eee;
	padding: .5rem 0 .4rem 0;
}
.my .tipLists ul li a{
	font-size: .32rem;
	color: #333;
	display: flex;
}
.my .tipLists ul li a div{
	flex: 2;
}
.my .tipLists ul li a div p{
	display: inline-block;
}
.my .tipLists ul li a div i{
	display: inline-block;
	margin-right: .2rem;
	margin-bottom: -.05rem;
}
.my .tipLists ul li a span{
	flex: 1;
	text-align: right;
}
.my .tipLists ul li a span i{
	display: inline-block;
	width: .2rem;
	height: .36rem;
	background: url(../../src/assets/images/my/back_end.png) no-repeat left top;
	background-size: 100%;
	margin-top: -.05rem;
}
.my .tipLists ul .version a span{
	font-size: .32rem;
	color: #333;
}
.my .tipLists ul .remind a div i{
	width: .36rem;
	height: .4rem;
	background: url(../../src/assets/images/my/icon_01.png) no-repeat left top;
	background-size: 100%;
}
.my .tipLists ul .feedback a div i{
	width: .4rem;
	height: .4rem;
	background: url(../../src/assets/images/my/icon_02.png) no-repeat left top;
	background-size: 100%;
}
.my .tipLists ul .version a div i{
	width: .4rem;
	height: .34rem;
	background: url(../../src/assets/images/my/icon_03.png) no-repeat left top;
	background-size: 100%;
}
.my .tipLists ul .modify_psd a div i{
	width: .36rem;
	height: .34rem;
	background: url(../../src/assets/images/my/icon_04.png) no-repeat left top;
	background-size: 100%;
}



